.searchbar {
  width: 100%;
  height: 105px;
  background: #f4f4f4;
  position: relative;
  padding: 25px 20px 0px 20px;
  box-sizing: border-box;
}

.searchbar-content {
  max-width: 1280px;
  width: 100%;
  height: 55px;
  background: #353535;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  color: #fff;
}

.searchbar-content button {
  position: absolute;
  right: 30px;
  top: 10px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.searchbar-input {
  display: inline-block;
  width: calc(90% - 52px);
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  height: 42px;
  font-size: 28px;
  outline: none;
  vertical-align: bottom;
  line-height: normal;
  background: transparent;
  left: 25px;
  top: 5px;
  color: #fff;
}

input[type="text"] {
  outline: none;
}

.searchbar-input:focus,
.searchbar-input:hover {
  outline: none;
  background: transparent;
}

@media screen and (max-width: 720px) {
  .searchbar-input {
    font-size: 28px;
    color: #fff;
  }
}
